{% extends 'base.html' %}

{% block title %}
  <title>Home</title>
{% endblock %}

{% block content %}
  <div class="row gap-3">
    <form method="post" action="">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <label for="fcrefno" class="form-label">Invoice</label>
          <div class="input-group">
            <input type="text" class="form-control" id="fcrefno" name="fcrefno" value="{{ fcrefno }}" />
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="po_no" class="form-label">PO No.</label>
          <input type="text" class="form-control" id="po_no" name="po_no" value="{{ po_no }}" />
        </div>
        <div class="col">
          <label for="cust_sup" class="form-label">Cust/Sup</label>
          <input type="text" class="form-control" id="cust_sup" name="cust_sup" value="{{ cust_sup }}" />
        </div>
      </div>
      {% comment %} <div class="row">
        <div class="col">
          <label for="start_date" class="form-label">Start Date</label>
          <input type="date" class="form-control" id="start_date" name="start_date" value="{{ start_date }}" />
        </div>
        <div class="col">
          <label for="end_date" class="form-label">End Date</label>
          <input type="date" class="form-control" id="end_date" name="end_date" value="{{ end_date }}" />
        </div>
      </div> {% endcomment %}
    </form>
    <div class="table-responsive card shadow-sm mt-3 p-3">
      <table class="table table-borderless table-striped">
        <thead>
          <tr>
            <th scope="col">Invoice</th>
            <th scope="col">PO</th>
            <th scope="col">Cust/Sup</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
            <form method="post" action="/save_selected">
              <tr class="data-row">
                <input type="hidden" name="fcskid_{{ forloop.counter }}" value="{{ row.0 }}" />
                <td>
                  <input type="hidden" name="invoice_{{ forloop.counter }}" value="{{ row.2 }}" />{{ row.2 }}
                </td>
                <td>
                  <input type="hidden" name="po_{{ forloop.counter }}" value="{{ row.3 }}" />{{ row.3 }}
                </td>
                <td>
                  <input type="hidden" name="cust_sup_name_{{ forloop.counter }}" value="{{ row.6 }}" />
                  <input type="hidden" name="cust_sup_{{ forloop.counter }}" value="{{ row.5 }}" />{{ row.6 }}
                </td>
                <td>
                  <input type="hidden" name="date_{{ forloop.counter }}" value="{{ row.7 }}" />{{ row.7 }}
                </td>
                <td>
                  <a href="{% url 'get_invoice_data' row.0 %}" class="btn btn-primary" target="_blank"><i class="bi bi-tag-fill me-2"></i>Print Tag</a>
                  <button type="submit" class="btn btn-success" name="print_invoice"><i class="bi bi-qr-code me-2"></i>Print Invoice</button>
                </td>
              </tr>
            </form>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Include jQuery and jQuery UI -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />

  <script>
    $(function () {
      $('#fcrefno').autocomplete({
        source: "{% url 'autocomplete' %}",
        minLength: 2,
        select: function (event, ui) {
          $('#fcrefno').val(ui.item.value)
          return false
        }
      })
      $('#po_no').on('keyup', function () {
        var value = $(this).val().toLowerCase()
        $('.data-row').filter(function () {
          $(this).toggle($(this).find('input[name^="po_"]').val().toLowerCase().indexOf(value) > -1)
        })
      })
      $('#cust_sup').on('keyup', function () {
        var value = $(this).val().toLowerCase()
        $('.data-row').filter(function () {
          $(this).toggle($(this).find('input[name^="cust_sup_name_"]').val().toLowerCase().indexOf(value) > -1)
        })
      })
      $('#start_date').on('change', function () {
        var dateValue = $(this).val()
        console.log(dateValue)
        $('.data-row').filter(function () {
          $(this).toggle($(this).find('input[name^="date_"]').val().toLowerCase().indexOf(dateValue) > -1)
        })
      })
    })
  </script>
{% endblock %}
