<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <label for="fccode" class="form-label">Part No.</label>
              <div class="input-group">
                <input type="text" class="form-control" id="fccode" name="fccode" value="{{ fccode }}" />
                <button type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
              </div>
            </div>
            <div class="col">
              <label for="po_no" class="form-label">PO No.</label>
              <input type="text" class="form-control" id="po_no" name="po_no" value="{{ po_no }}" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="cust_sup" class="form-label">Cust/Sup</label>
              <input type="text" class="form-control" id="cust_sup" name="cust_sup" value="{{ cust_sup }}" />
            </div>
            <div class="col">
              <label for="lot_mat" class="form-label">Lot Mat'l</label>
              <input type="text" class="form-control" id="lot_mat" name="lot_mat" value="{{ lot_mat }}" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="lot_prod" class="form-label">Lot Prod</label>
              <input type="text" class="form-control" id="lot_prod" name="lot_prod" value="{{ lot_prod }}" />
            </div>
            <div class="col">
              <label for="model" class="form-label">Model</label>
              <input type="text" class="form-control" id="model" name="model" value="{{ model }}" />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="mc" class="form-label">M/C</label>
              <input type="text" class="form-control" id="mc" name="mc" value="{{ mc }}" />
            </div>
            <div class="col">
              <label for="date" class="form-label">Date</label>
              <input type="date" class="form-control" id="date" name="date" value="{{ date }}" />
            </div>
          </div>
        </form>
        <form method="post" action="save_selected">
          {% csrf_token %}
          <div class="table-responsive card shadow-sm mt-3 p-3">
            <table class="table table-borderless table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">PO No.</th>
                  <th scope="col">Cust/Sup</th>
                  <th scope="col">Part No.</th>
                  <th scope="col">Part Name</th>
                  <th scope="col">Lot Mat'l</th>
                  <th scope="col">Lot Prod</th>
                  <th scope="col">Model</th>
                  <th scope="col">M/C</th>
                  <th scope="col">Date</th>
                  <th scope="col">Packing</th>
                </tr>
              </thead>
              <tbody>
                {% for row in data %}
                  <tr class="data-row" data-fcskid="{{ row.0 }}">
                    <td>
                      <input type="checkbox" name="selected" value="{{ forloop.counter }}" class="form-check-input" />
                    </td>
                    <td>
                      <input type="hidden" name="po_no_{{ forloop.counter }}" value="{{ po_no }}" />{{ po_no }}
                    </td>
                    <td>
                      <input type="hidden" name="cust_sup_{{ forloop.counter }}" value="{{ cust_sup }}" />{{ cust_sup }}
                    </td>
                    <td>
                      <input type="hidden" name="part_no_{{ forloop.counter }}" value="{{ row.8 }}" />{{ row.8 }}
                    </td>
                    <td>
                      <input type="hidden" name="part_name_{{ forloop.counter }}" value="{{ row.9 }}" />{{ row.9 }}
                    </td>
                    <td>
                      <input type="hidden" name="lot_mat_{{ forloop.counter }}" value="{{ lot_mat }}" />{{ lot_mat }}
                    </td>
                    <td>
                      <input type="hidden" name="lot_prod_{{ forloop.counter }}" value="{{ lot_prod }}" />{{ lot_prod }}
                    </td>
                    <td>
                      <input type="hidden" name="model_{{ forloop.counter }}" value="{{ model }}" />{{ model }}
                    </td>
                    <td>
                      <input type="hidden" name="mc_{{ forloop.counter }}" value="{{ mc }}" />{{ mc }}
                    </td>
                    <td>
                      <input type="hidden" name="date_{{ forloop.counter }}" value="{{ date }}" />{{ date }}
                    </td>
                    <td>
                      <select class="form-select" aria-label="Default select example" name="packing_{{ forloop.counter }}">
                        <option selected>Not Select Packing</option>
                        {% for packing in packing_dict.values %}
                          {% if packing.part_no == row.0 %}
                            <option value="{{ packing.std_packing }}" selected>{{ packing.std_packing }}</option>
                          {% else %}

                          {% endif %}
                        {% endfor %}
                      </select>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <button type="submit" class="btn btn-success mt-3">Save</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // This function will be called when the modal is about to be shown
    document.getElementById('exampleModal').addEventListener('show.bs.modal', function(event) {
      var button = event.relatedTarget; // Button that triggered the modal
      var fcskid = button.getAttribute('data-fcskid'); // Extract info from data-* attributes

      // Find all rows in the modal's table
      var rows = document.querySelectorAll('#exampleModal .table tbody tr.data-row');

      // Loop through the rows and hide those that don't match the fcskid
      rows.forEach(function(row) {
        var rowFcskid = row.getAttribute('data-fcskid');
        if (rowFcskid !== fcskid) {
          row.style.display = 'none';  // Hide rows that don't match fcskid
        } else {
          row.style.display = '';  // Show rows that match fcskid
        }
      });
    });
  });
</script>
